/**    Especificando as fontes */
$font-titulo : "Raleway",
sans-serif;
$font-texto : "IBM Plex Mono",
monospace;

/**    Especificando cores */
$cor-bg-body: #1B1B1B;
$cor-bg-button: #3F8E00;
$cor-text-title: #FFFFFF;
$cor-text-body: #9C9C9C;
$cor-border-button: #62BA1B;

body {
    font-family: $font-texto;
    background-color: $cor-bg-body;
    color: $cor-text-body;
    font-size: 18px;
    line-height: 160%;
}

.header {
    .menu-navegacao {}

    .menu-social {}
}

main {
    .perfil {
        h1 {
            color: $cor-text-title;
            font-family: $font-titulo;
            font-size: 44px;
        }

        h3 {
            color: $cor-text-title;
            font-family: $font-titulo;
            font-size: 24px;
            font-weight: 200;
        }


        button {
            color: $cor-text-title;
            padding: 1em 3em;
            border-radius: 4px;
            border: 1px solid $cor-border-button;
            background: $cor-border-button;
            box-shadow: 0 8px 30px 0 rgba($cor-bg-button, 0.50);
        }
    }

    .foto {}
}

.job-list {}

.lista-sem-estilo {
    padding: 0;
    list-style: none;
}