/**    Especificando as fontes */
$font-titulo : "Raleway", sans-serif;
$font-texto : "IBM Plex Mono", monospace;

/**    Especificando cores */
$cor-bg-body: #1B1B1B;
$cor-bg-button: #3F8E00;
$cor-text-title: #FFFFFF;
$cor-text-body: #9C9C9C;
$cor-border-button: #62BA1B;

body{
    font: $font-texto;

}