/**
regras de break points
*/

$break-desktop: 1200px;
$break-tablet: 900px;
$break-mobile: 768px;
$break-watch: 400px;


.container{
    max-width: $break-desktop;
    margin-left: auto;
    margin-right: auto;
    @extend .display-flex;
}

.display-flex{
    display: flex;
}

.alinhar-h-esquerda{
    justify-content: flex-start;
}
.alinhar-v-esquerda{
    align-items: flex-start;
}
.alinhar-h-direita{
    justify-content: flex-end;
}
.alinhar-v-direita{
    align-items: flex-end;
}
.alinhar-coluna{
    flex-direction: column;
}
.alinhar-linha{
    flex-direction: row;
}

.dividir-extremidades{
    justify-content: space-between;
}